@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,400&display=swap');

@import url("_helpers.scss");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}
html::-webkit-scrollbar {
  display: none;
}

.normal-text {
  color: #151719;
}

footer {
  color: #202020;
}


body {
  color: color(base);
  font-size: 1rem;
}

body,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
font-family: 'IBM Plex Sans Condensed', sans-serif;
  clear: both;
  color: #202020;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
body {
	margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img,
svg,
video {
  display: block;
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

